name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:  
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.0"
      
      - name: Build App
        run:  ./scripts/buildprod.sh

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
          project_id: notely-451213
          export_default_credentials: true

      - name: Auth configure
        run: |
          echo '${{ secrets.GCP_CREDENTIALS }}' > gcloud.json
          gcloud auth activate-service-account --key-file=gcloud.json

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev